@keyframes backOpacity {
  0%   {
    opacity: 1
  }
  25%  {
    opacity: .5
  }
  50%  {
    opacity: 1
  }
  75%  {
    opacity: .5
  }
  100% {
    opacity: 1
  }
}

.animation_opacity {
  animation: backOpacity 2s ease-in-out infinite;
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
