$blue: #2395ff;
// $blue: #3190e8;
$green: #38ca73;
$orange: #ff5339;
$red: #dd6b55;
$black: #333;
$bgGray: #efeff4;

$rem: 375 / 10;
@function px2rem ($px) {
  @return $px / $rem + rem;
}
// 上下居中
@mixin ct {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
}
// 上下左右居中
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// 字体颜色和大小
@mixin sc ($size, $color){
  font-size: $size;
  color: $color;
}
// 布局方式,默认左右对齐
@mixin fj ($type: space-between){
  display: flex;
  justify-content: $type;
}
// 横向布局，换行
@mixin fw {
  display: flex;
  flex-wrap: wrap;
}
// 垂直居中
@mixin fc {
  display: flex;
  align-items:center;
}
// 左右垂直居中
@mixin fjc ($type: space-between){
  display: flex;
  justify-content: $type;
  align-items:center;
}
// 宽高
@mixin wh ($width, $height){
  width: $width;
  height: $height;
}
// 渐变背景
@mixin imgLinearGradient($deg: 90deg, $color1: #0af, $color2: #0085ff) {
  background-image: linear-gradient($deg ,$color1, $color2);
}
// 移动端1px边框线适配
@mixin border-1px ($color: #eee, $borderRadius: 0) {
  position: relative;
  border-width: 0;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    pointer-events: none; /* 防止点击触发 */
    box-sizing: border-box;
    border: 1px solid $color;
    border-radius: $borderRadius;
    @media screen and (min-device-pixel-ratio:3),(-webkit-min-device-pixel-ratio:3){
      width: 300%;
      height: 300%;
      -webkit-transform: scale(0.33);
      transform: scale(0.33);
    }
  }
}
// 移动单个边框方向适配
@mixin border ($direction: 'top', $color: #e4e4e4, $opacity: 1) {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  @if $direction == 'top' {
    border-bottom: 1px solid $color;
    opacity: $opacity;
  } @else if $direction == 'right' {
    border-right: 1px solid $color;
    opacity: $opacity;
  } @else if $direction == 'bottom' {
    border-bottom: 1px solid $color;
    opacity: $opacity;
  } @else if $direction == 'left' {
    border-left: 1px solid $color;
    opacity: $opacity;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    height: 200%;
    width: 200%;
    transform: scale(.5);
  }

  @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
      height: 300%;
      width: 300%;
    transform: scale(.33);
  }
}
